<div class="container">


</div>

<div id="views" class="hidden">
  <ul class="quiz-list"></ul>

  <li class="quiz-item"><a class="quiz-link" href="#"></a></li>

  <div class="question-view"></div>
  <div class="quiz-title"></div>
  <div class="question-text"></div>
  <ul class="answer-list"> </ul>
  <li class="answer-item"><a class="answer-link" href="#"></a></li>

</div>
